@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@import "tw-animate-css";


@theme {
  --color-blue: #3B67CE;
  --color-blue-dark: #333153;
  --color-secondary: #F2F6FE;
  --color-focus: #F2F6FE;
  --color-orange: #FF7F26;
  --color-orange-dark: #ED1B24;
  --color-purple: #C00DD8;
  --color-purple-dark: #650772;
  
}

* {
  font-family: "Roboto", sans-serif;
}




