@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@import "tw-animate-css";


@theme {
  --color-blue: #3B67CE;
  --color-blue-dark: #333153;
  --color-secondary: #F2F6FE;
  --color-focus: #F2F6FE;
  --color-orange: #FF7F26;
  --color-orange-dark: #ED1B24;
  --color-purple: #C00DD8;
  --color-purple-dark: #650772;
  --color-red: #ED1B24;
  
}

* {
  font-family: "Roboto", sans-serif;
}



.text-fluid-small {
  font-size: 0.5rem; 
}

@media (min-width: 640px) { /* sm */
  .text-fluid-small {
    font-size: 0.625rem; 
  }
}


@media (min-width: 1024px) { /* lg */
 .text-fluid-small {
    font-size: 0.75rem; 
  }
}

@media (min-width: 1280px) { 
  .text-fluid-small {
    font-size: 0.875rem; 
  }
}

@media (min-width: 1536px) { 
  .text-fluid-small {
    font-size: 1rem; 
  }
}

.text-fluid-large {
  font-size: 0.75rem; 
}

@media (min-width:  1024px) { 
  .text-fluid-large {
    font-size: 0.875rem; 
  }
}

@media (min-width: 1280px) { 
  .text-fluid-large {
    font-size: 1rem; 
  }
}

@media (min-width: 1536px) { 
  .text-fluid-large {
    font-size: 1.125rem; 
  }
}

